{% extends "base_2col.html" %}

{% block title %}3D原点設定 - Digital Workbench{% endblock %}

{% block header %}3D原点設定{% endblock %}

{% block head_2col_extra %}
<link rel="stylesheet" href="/modules/3d_detect/static/css/styles.css">
{% endblock %}

{% block content_left %}
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>使用数</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>0</td><td></td><td contenteditable="true"></td></tr>
        </tbody>
      </table>
    </div>
<div class="table-buttons">
  <button id="addBtn">新規</button>
  <button id="editBtn">編集</button>
  <button id="deleteBtn" type="button">削除</button>
</div>
{% endblock %}

{% block content_right %}
    <div class="camera-area">
      <img id="cameraStream" src="/detection/stream/rgb" alt="RGB stream">
      <div id="resizableBox">
        <div class="comment-display" id="commentDisplay"></div>
        <div class="resize-handle"></div>
      </div>
    </div>

    <div class="image-buttons">
      <button id="colorBtn">カラー画像</button>
      <button id="depthBtn">深度画像</button>
    </div>

<div class="origin-button">
  <button id="registerOriginBtn">原点登録</button>
</div>
{% endblock %}

{% block scripts %}
<script src="/modules/3d_detect/static/js/set_3D_origin.js"></script>
{% endblock %}